<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

    <!-- Manager Controllers -->
    <servlet>
        <servlet-name>DashBoard</servlet-name>
        <servlet-class>controllers.manager.DashBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Statistics</servlet-name>
        <servlet-class>controllers.manager.Statistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerReview</servlet-name>
        <servlet-class>controllers.manager.ManagerReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerRoom</servlet-name>
        <servlet-class>controllers.manager.ManagerRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerService</servlet-name>
        <servlet-class>controllers.manager.ManagerService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerRoles</servlet-name>
        <servlet-class>controllers.manager.Roles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerEmployees</servlet-name>
        <servlet-class>controllers.manager.EmployeeController</servlet-class>
    </servlet>

    <!-- Common Controllers -->
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controllers.common.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmail</servlet-name>
        <servlet-class>controllers.common.VerifyEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmVerifyEmail</servlet-name>
        <servlet-class>controllers.common.ConfirmVerifyEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>controllers.common.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmResetPassword</servlet-name>
        <servlet-class>controllers.common.ConfirmResetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashBoard</servlet-name>
        <url-pattern>/manager/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statistics</servlet-name>
        <url-pattern>/manager/statistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerReview</servlet-name>
        <url-pattern>/manager/review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerRoom</servlet-name>
        <url-pattern>/manager/room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerService</servlet-name>
        <url-pattern>/manager/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerRoles</servlet-name>
        <url-pattern>/manager/roles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerEmployees</servlet-name>
        <url-pattern>/manager/employees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmail</servlet-name>
        <url-pattern>/verifyEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmVerifyEmail</servlet-name>
        <url-pattern>/confirmEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmResetPassword</servlet-name>
        <url-pattern>/confirmResetPassword</url-pattern>
    </servlet-mapping>

    <!-- Welcome File -->
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>vnpay.ajaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>VnpayReturn</servlet-name>
        <servlet-class>vnpay.VnpayReturn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VnpayReturn</servlet-name>
        <url-pattern>/vnpayReturn</url-pattern>
    </servlet-mapping>
</web-app>